body{
	padding-top: 70px;
	background: url('background.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

.jumbotron{
	opacity: 0.9;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbnail:hover{
	background-color: black;
	transition: 0.2s;
}

th{
	width: 110px;
	text-align:center;

}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.add-form-collapseable {
	overflow: hidden;
	transition: all 0.5s ease-out;
}

.hide {
	display: none;
}

.my_collapse {
	height: 0;
	width: 0;
}
