<div class="container">
	<div class="jumbotron">
		<h2><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Overview<h6>
			<br>
<p><b>Area 51 Cell Phone Emporium</b> is facing rapid growth. The company is stuck in the stone age of using paper and pen to maintain our customer records, invoices, sales numbers, product lines we carry, carriers we are authorized to sell, and payment methods available. As we get more customers, it continually gets harder to keep track of when our customers change their information. As the company scales, it gets increasingly difficult to stay organized and efficient. Area 51 has decided to modernize our process and adopt technology as a way to organize all of the company’s business data without the time-sinking errors and inefficiencies of doing it by paper and pencil. We believe getting a database system can improve our bottom line, and help us keep up with our competition by taking our business presence through a system.</p>
<br>
<p>Our database will work as a “point of sale” system that can be used to track both customers, their orders and manage the retail location’s inventory selection. Primarily, our system is designed to be used within a single retail telecommunications store. The scale of the system, due to it being based on a single retail location, will serve a store size roughly generating around $3 million dollars in revenue ($1000 per device sold * 10 sales orders a day * 300 days). As a point of sales system, it will require accurate upkeep of customer information, containing their names, residence and contact information which will simultaneously serve as a small-scale Customer Relationship Management (CRM) system. The system will also work to serve as an inventory management module that will keep track of the product line of phones that the store carries. In addition, since we will maintain the geographic information of our customers, we can use our database to identify different customer audiences and their individualistic buying trends for marketing and product shipping purposes.</p>
<br>
<p>A database driven website will record sales of cell phones to customers, the cell phone carrier that will provide the phone service, and payment details in an invoice that is unique to the customer. A sales transaction is captured in the database through an invoice, which can have many different phones sold at a time.</p>


	</div>
</div>
