<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Lorem Ipsum</h1>
		<h5>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h5>
		<h6>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h6>
	</div>
</div>
