
<!-- Jumbotron - News and Alerts -->
<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Lorem Ipsum</h1>
		<h5>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h5>
		<h6>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h6>
	</div>
</div>


<!-- System Options -->
<div class="container">
	<div class="row">

		<div class="col-lg-4">
			<a href="/new_invoice">
				<div class="thumbnail">
					<img src="/images/make_sale.png">
					<div class="centered">Start<br>Invoice</div>
				</div>
			</a>
		</div>
		<div class="col-lg-4">
			<a href="/edit_invoice">
				<div class="thumbnail">
					<img src="/images/make_sale.png">
					<div class="centered">Edit<br>Invoice</div>
				</div>
			</a>
		</div>
		<div class="col-lg-4">
			<a href="/invoice_details">
				<div class="thumbnail">
					<img src="/images/make_sale.png">
					<div class="centered">Add<br>Phone<br>To<br>Invoice</div>
				</div>
			</a>
		</div>

	</div>
</div>


<div class="container">
	<div class="jumbotron text-center">
		<h1><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Lorem Ipsum</h1>
		<h5>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h5>
		<h6>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h6>
	</div>
</div>

<div class="container hide">
	<div class="row">

		<div class="col-lg-3">
			<div class="thumbnail">
				<img src="/images/make_sale.png">
				<div class="centered">Add<br>Phone</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="thumbnail">
				<img src="/images/make_sale.png">
				<div class="centered">Add<br>Customer</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="thumbnail">
				<img src="/images/make_sale.png">
				<div class="centered">Add<br>Carrier</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="thumbnail">
				<img src="/images/make_sale.png">
				<div class="centered">Add<br>Payment<br>Method</div>
			</div>
		</div>

	</div>
</div>

<div class="container hide">
	<div class="jumbotron text-center">
		<h1><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Lorem Ipsum</h1>
		<h5>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h5>
		<h6>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h6>
	</div>
</div>
