
<!-- Jumbotron - News and Alerts -->
<div class="container">
<!-- 	<div class="jumbotron text-center"> -->
<!-- 		<div class="thumbnail"> -->
	<a href="/about">
	<img src="/images/1.png" width="100%">
<!-- 		</div> -->
		
<!-- 	</div> -->
</div>

<br>
<!-- System Options -->
<div class="container">
	<div class="row">

		<div class="col-lg-4">
			<a href="/new_invoice">
				<div class="thumbnail" id="imageTextHolder">
					<img src="/images/create.png">
					<div class="centered" id="imageText">Create<br>Invoice</div>
				</div>
			</a>
		</div>
		<div class="col-lg-4">
			<a href="/invoice_details">
				<div class="thumbnail">
					<img src="/images/edit.png">
					<div class="centered" id="imageText">Edit<br>Invoice</div>
				</div>
			</a>
		</div>
		<div class="col-lg-4">
			<a href="/invoices">
				<div class="thumbnail">
					<img src="/images/pay.png">
					<div class="centered" id="imageText">Pay<br>Invoice</div>
				</div>
			</a>
		</div>

	</div>
</div>


<div class="container">

<!-- 	<div class="jumbotron text-center"> -->
<!-- 		<div class="thumbnail"> -->
	<a href="/about">
	<img src="/images/2.png" width="100%">
<!-- 		</div> -->
		
<!-- 	</div> -->
</div>

<!-- <div class="container hide">
	<div class="row">

		<div class="col-lg-3">
			<div class="thumbnail">
				<img src="/images/make_sale.png">
				<div class="centered">Add<br>Phone</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="thumbnail">
				<img src="/images/make_sale.png">
				<div class="centered">Add<br>Customer</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="thumbnail">
				<img src="/images/make_sale.png">
				<div class="centered">Add<br>Carrier</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="thumbnail">
				<img src="/images/make_sale.png">
				<div class="centered">Add<br>Payment<br>Method</div>
			</div>
		</div>

	</div>
</div>

<div class="container hide">
	<div class="jumbotron text-center">
		<h1><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Lorem Ipsum</h1>
		<h5>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h5>
		<h6>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h6>
	</div>
</div>
 -->