html{
    margin:0px;

}

body{
	padding-top:0px;
	padding-bottom: 70px;
	background: url('/images/background.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

a:visited, a:link {
	color: inherit;
}

.jumbotron{
	opacity: 0.9;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbnail:hover{
	background-color: black;
	transition: 0.2s;
}

th{
	width: 110px;
	text-align:center;

}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.add-form-collapseable {
	overflow: hidden;
	transition: all 0.5s ease-out;
}

.hide {
	display: none;
}

.my_collapse {
	height: 0;
	width: 0;
}

#updateModal {
   top: 20%;
}

.search-bar-row > form {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.table-search {
	margin-top: 0;
  margin-right: 10px;
	border: 2px solid gray;
	border-radius: 5px;
}

#table-search-submit {
	height: 25px;
  padding-bottom: 20px;
}

.resize_img{
    width:20px; /* you can use % */
    height: auto;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
  	transition-duration: 0.5s;
}

.resize_img:hover{
	width:100px; /* you can use % */
    height: auto;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
  	transition-duration: 0.5s;
}

#table-filter-keyword {
  padding-left: 4px;
}

.page-heading {
  color: rgba(237,237,237,0.8);
}

.total_due_header {
  margin-right: 20px;
}

.phone_row_valid {
  margin-left: 10px;
}

.green {
  color: green;
}

#citation{
  padding: 5px;
  border-style: solid;
  position:relative;
  bottom:0;
  right:-70%;
  width: 300px;
  font: 10px italic;
  color:white;
}